<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Widget Template</title>

  <style>
    .preview {
      width: 100%;
      max-width: 1100px;
      margin: 80px auto;
      border: 1px dashed rgba(0, 0, 0, 0.2);
      position: relative;
    }

    .preview::before {
      content: 'WIDGET PREVIEW';
      position: absolute;
      display: block;
      top: -18px;
      font-size: 11px;
      color: rgba(0, 0, 0, 0.5);
    }
  </style>

</head>

<body>
  <div data-widget-sldrx="master" class="preview">
    <script type="text/props">
      {
        "apiKey": "<%= process.env.FIREBASE_API_KEY %>",
        "databaseURL": "<%= process.env.FIREBASE_DB_URL %>",
        "emojis": ["🦄", "🤯", "❤️", "🤔"],
        "url": "http://google.co",
        "fontSize": "30px"
      }
    </script>
  </div>

  <div data-widget-sldrx="client" class="preview">
    <script type="text/props">
      {
        "apiKey": "<%= process.env.FIREBASE_API_KEY %>",
        "databaseURL": "<%= process.env.FIREBASE_DB_URL %>",
        "emojis": ["🦄", "🤯", "❤️", "🤔"],
        "fontSize": "30px"
      }
    </script>
  </div>
  <script async src="/bundle.js"></script>
</body>

</html>
